@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
body{
    font-family: "Roboto", sans-serif;
    position: relative;
    width: 1440px;
    height: 6575px;
    
    background: #FFFFFF;
}
.top{
    position: absolute;
    width: 112px;
    height: 66px;
    left: 121px;
    top: 21px;
}
.globe{
    position: absolute;
    width: 22px;
    height: 21px;
    left: 121px;
    top: 184px;
    background: url(globe);
}
.watch{
    position: absolute;
    width: 22px;
    height: 22px;
    left: 306px;
    top: 183px;
    background: url(img_135744);
}
.calendar{
    position: absolute;
    width: 20px;
    height: 22px;
    left: 467px;
    top: 183px;    
    background: url(calendar_2);
}
.fbig{
    position: absolute;
    width: 305px;
    height: 376px;
    left: 889px;
    top: 223px;
}
.card{
    position: absolute;
    width: 483.63px;
    height: 200.02px;
    left: 409.39px;
    top: 666.62px;
}
.big{
    position: absolute;
    width: 366px;
    height: 344px;
    left: 947px;
    top: 1175px;
}
.small{
    position: absolute;
    width: 232px;
    height: 219px;
    left: 121px;
    top: 1619px;
    
}
.mini1{
    position: absolute;
    width: 130px;
    height: 32px;
    left: 151px;
    top: 187px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
}
.mini2{
    position: absolute;
    width: 130px;
    height: 32px;
    left: 338px;
    top: 187px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
}
.mini3{
    position: absolute;
    width: 130px;
    height: 32px;
    left: 500px;
    top: 187px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
}
 .title1{
    position: absolute;
    width: 628px;
    height: 190px;
    left: 122px;
    top: 248px;
    
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 101.38%;
}
.main1 .text1{
    position: absolute;
    width: 414px;
    height: 62px;
    left: 122px;
    top: 427px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}
.main2 .title2{
    position: absolute;
    width: 365px;
    height: 93px;
    left: 121px;
    top: 1040px;
    
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
}
.main2 .text2{
    position: absolute;
    width: 662px;
    height: 374px;
    left: 121px;
    top: 1151px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}
.main2 .title3{
    position: absolute;
    width: 150px;
    height: 39px;
    left: 485px;
    top: 1689px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
}
.main2 .text3{
    position: absolute;
    width: 150px;
    height: 39px;
    left: 485px;
    top: 1729px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}
.main2 .title4{
    position: absolute;
    width: 150px;
    height: 39px;
    left: 730px;
    top: 1689px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
}
.main2 .text4{
    position: absolute;
    width: 150px;
    height: 39px;
    left: 730px;
    top: 1729px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}
.main2 .title5{
    position: absolute;
    width: 150px;
    height: 39px;
    left: 973px;
    top: 1689px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
}
.main2 .text5{
    position: absolute;
    width: 150px;
    height: 39px;
    left: 973px;
    top: 1729px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}
/*********************************************************************************************/
                                        /*Tablet*/
/*********************************************************************************************/
@media (max-width: 830px){

}
/*********************************************************************************************/
                                        /*Mobile*/
/*********************************************************************************************/
@media (max-width : 375) {

}
